@import url(http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic);
html,body { height:100%; }
body { padding:0; margin:0; background-color:rgba(237,237,244,1); background: #eee; font-family: "Open Sans", Arial, Helvetica; font-size: 12px; }

h1,h2,h3,h4,h5 { padding:0; margin:0; }

.left { float:left; }
.right { float:right; }
.clear { clear:both; }

/* Header and Signup */
.header { position:relative; height:100%; background-color:rgba(6,71,128,1); }
.header .sitetitle { position:absolute; top:30px; left:30px; font-size:80px; font-family: 'Economica', sans-serif; }
.header .sitepurpose { position:absolute; top:120px; left:100px; font-size:30px; font-family: 'Economica', sans-serif; font-style:italic; }
.header .weoffer { position:absolute; top:220px; left:30px; width:300px; font-family:Arial, Helvetica, sans-serif; font-size:20px; }
.header .signup { position:absolute; top:320px; right:20px; padding:20px 50px; background-color:rgba(160,194,222,0.6); }
.header .links { position:absolute; top:500px; }

/* Features and Info */
.features { position:relative; height:100%; background-color:rgba(6,71,128,0.8); }

/* Responsive/Containers */
.container { width:1140px; margin:0 auto; position:relative; }
.section { width:400px; }

.section .title { font-size:30px; color:#969696; text-shadow:1px 1px 0px #fff; font-weight:100; padding:0px; margin:3px; }
.section .title span { font-size:18px; color:#ababab; margin-left:15px;  }
.section hr { border:1px solid #cccccc; border-bottom-color:#fff; border-right-color:#fff; width:100%; margin-bottom:5px; background-color:#e5e5e5; color:#555; }

.section form > input[type='text'],input[type='password'],input[type='email'] {
	border:1px solid #CCCCCC;
	border-bottom-color:#fff;
	border-right-color:#fff;
	border-radius:5px;
	padding:10px;
	width:280px;
	margin-bottom:5px;
	background:#e5e5e5;
	color:#555;
}
.section form > input[type='submit'] {
	border:1px solid #CCCCCC;
	border-bottom-color:#FFFFFF;
	border-right-color:#FFFFFF;
	border-radius: 3px;
	padding:5px;
	width:280px;
	height:45px;
	margin-bottom:5px;
	background-color:#E5E5E5;
	color:rgba(28,28,28,0.5);
}
.section form > input[type='submit']:hover { border: 1px solid rgb(204,204,204.0.5); color:rgba(28,28,28,0.8); background: rgb(220,220,220); box-shadow:0px 0px 20px rgba(220,220,220,0.5); }
.section form > input[type='submit']:active { color:rgba(28,28,28,1); background: rgb(205,205,205); box-shadow:0px 0px 20px rgba(220,220,220,0.5); }

.landingtitle { 
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 100px;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility; 
	color: #2c2c2c; 
	background-color: #88C5E3; 
	letter-spacing: .05em; 
	text-shadow: 4px 4px 0px #d5d5d5,7px 7px 0px rgba(0, 0, 0, 0.2);
}