<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{ title }} &mdash; {{ subtitle }}</title>
	<base href="design/theme/kiddLayout/">
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
</head>
<body>
	
	<div class="container">
		<div class="sitetitle left">{{ title }}</div>
		<div class="subtitle left">{{ subtitle }}</div>
		<div class="clear"></div>
	</div>
	
	<ul>

		{% for types, infos in contact %}
		    <li>{{ types }}</li>
		  {% for info in infos %}
		      <ul><li>{{ info }}</li></ul>
		  {% endfor %}
		{% endfor %}

	</ul>

</body>
</html>